<h3 class="subtitle">Reactive form</h3>

<!--TODO 2.2.1 - propojte formulář s definicí-->
<form novalidate
      (ngSubmit)="onSubmit(userForm)"
      [formGroup]="userForm">

  <label class="label" for="userName">Name</label>
  <div class="control">
    <input class="input" id="userName" type="text"
           formControlName="name"
    />

    <app-form-control-errors controlName="name">
    </app-form-control-errors>
  </div>

  <label class="label" for="userSurname">Surname</label>
  <div class="control">
    <input class="input" id="userSurname" type="text"
           formControlName="surname"
    />

    <app-form-control-errors controlName="surname"></app-form-control-errors>
  </div>

  <label class="label" >Phones</label>

  <div class="box" formArrayName="contacts">
    <div [formGroupName]="i"
         *ngFor="let contact of userForm.controls.contacts.controls; let i=index">


      <div class="control has-addons">
        <input class="input is-expanded" id="phone" type="text" name="phone"
               formControlName="phone"
        />

        <a class="button" (click)="removeAddress(i)">
          X
        </a>
      </div>

      <app-form-control-errors controlName="phone"></app-form-control-errors>

    </div>

    <a (click)="addAddress()">Add contact</a>

  </div>

  <div class="control buttons">
    <button class="button is-primary" type="submit">Submit</button>
  </div>
</form>
