<div class="block">

  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        OrderID: {{order.guid}}
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <b>email:</b><br/>
        {{order.email}}
        <br/>
        <b>phone:</b><br/>
        {{order.phone}}
      </div>
    </div>
  </div>
</div>

<div class="columns">

  <!--TODO - 3.5 - podmiňte zobrazení doručovací adresy-->
  <div class="column">

    <!--TODO 2.2 - odstraňte duplicitu použitím komponenty - START-->
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Shipping address
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <b>{{order.shippingAddress.company}}</b><br/>
          {{order.shippingAddress.contact}}

          <p>
            {{order.shippingAddress.address}},<br/>
            {{order.shippingAddress.city}}, {{order.shippingAddress.state}}
          </p>
        </div>
      </div>
    </div>
    <!--TODO 2.2  - odstraňte duplicitu použitím komponenty - END-->

  </div>

  <div class="column">

    <!-- TODO 2.2  - odstraňte duplicitu použitím komponenty - START-->
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Billing Address
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <b>{{order.billingAddress.company}}</b><br/>
          {{order.billingAddress.contact}}

          <p>
            {{order.billingAddress.address}},<br/>
            {{order.billingAddress.city}}, {{order.billingAddress.state}}
          </p>
        </div>
      </div>
    </div>
    <!-- TODO 2.2  - odstraňte duplicitu použitím komponenty - END-->

  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Product ID</th>
    <th>Product</th>
    <th>Quantity</th>
    <th><abbr title="Price per piece">PPP</abbr></th>
    <th>Total price</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
    <th>{{order.totalPrice}}</th>
  </tr>
  </tfoot>
  <tbody>

  <!--TODO 1.1 - odkomentujte a iterujte přes řádky tabulky -->
  <!--
  <tr>
    <th>{{item.productId}}</th>
    <th>{{item.productName}}</th>
    <th>{{item.quantity}}</th>
    <th>{{item.pricePerPiece}}</th>
    <th>{{item.totalPrice}}</th>
  </tr>
  -->

  </tbody>
</table>

<p>
  <b>Note:</b>
  {{order.note}}
</p>

